.main {    
   
    width: 300px;
    height: 250px;
    display: flex;
    font-size: 0.875rem;
    flex-direction: column;
    justify-content: space-evenly;
    /* box-shadow: 2px 2px 20px 10px #dadce0; */
    

}

.top {
    height: 30%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: rgba(131, 90, 241, 0.15);
    
}

.top-left {
    width: 3.2rem;
    height: 3.2rem;
    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;  
    box-shadow: 1px 1px 3px 1px #dadce0;  
}

.image {
    width: 3.2rem;
    height: 3.2rem;
}

.top-right {
   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    font-size: 0.875rem;
    padding: 0.5rem 0;
      
}

.title {
    font-weight: 600;
    margin-left: auto;
}

.category {
    margin-left: auto;
    color: gray;
    font-size: 0.8rem;
}

.price {
    margin-left: auto;
    font-size: 0.8rem;
}



.middle {
    height: 55%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem;
    font-size: 0.875rem;
}

.middle-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    white-space: pre-wrap;
    line-height: 130%;
}

.address {
    color: gray;
    font-size: 0.8rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.bottom {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.button {
  outline: none;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;

  /* 색상 */
  color: gray;
  border: 0.12rem solid;
  background: white;
  

  /* 크기 */
  height: 1.25rem;
  
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.button:hover {
    color: #835AF1; 
    
}